
/* Reset Styles */
*	{
	margin : 0px;
	box-sizing: border-box;
}

/* Structure of web page */
body {
	background: LightSteelBlue;
}

/* To create gaps between articles */
article {
	margin-top: 30px;
	margin-bottom: 70px;
}

/* Wrapper to centre webpage in browser */
div#container {
	width: 80%;
	margin: auto;
	background-color: white;
	color: black;
	border: 2px solid black;
}

/* Style for main content area  */
main {
	padding: 10px;
	background-color: white;
	color: black;
	border: 2px solid black;
}

/* Banner */
header {
	padding: 10px;
	border: 2px solid black;
	border-bottom: 2px solid white;
	background: DarkSlateBlue;
	color: white;
}

/* Menu */
nav {
	height: 50px;
	padding: 10px;
	border: 2px solid black;
	border-top: none;
	background: DarkSlateBlue;
	color: white;
}

/* Footer */
footer{
	clear: both;
	padding: 10px;
	border: 2px solid black;
	background: DarkSlateBlue;
	color: white;
}

/* List rules */
main ul {
	list-style-type: square;
	padding-left: 20px;
}
main ul li {
	text-align: left;
}

/* font rules */
header {
	font-family: "Times New Roman";
	font-size: 14px;
	text-align: left;
}
nav {
	font-family: "Times New Roman";
	font-size: 14px;
	text-align: left;
}
main {
	font-family: "Times New Roman";
	font-size: 14px;
	text-align: left;
}
footer {
	font-family: "Times New Roman";
	font-size: 14px;
	text-align: left;
}
main h1, h2, h3, h4, p {
	text-align: left;
}


/* Hyperlink rules */
footer a {
	text-decoration: none;
	font-weight: bold;
}
nav a {
	text-decoration: none;
	font-weight: bold;
}
footer a:link, a:hover, a:active {
	color: white;
}
footer a:visited {
	color: white;
}
nav a:link, a:hover, a:active {
	color: white;
}
nav a:visited {
	color: white;
}
main a:link, a:hover, a:active {
	color: black;
}
main a:visited {
	color: black;
}


/* Navigation Styles */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 10px;
	float: left;
}
nav li a:current {
	background: DarkSlateBlue;
}
nav li a:hover {
	background: DodgerBlue;
	color: White;
}


/* Images rules */
#imgFloatRight1 {
	float: right;
	margin: 0px 15px 15px 15px;
}
#imgFloatLeft1 {
	float: left;
	margin: 0px 15px 15px 15px;
}
#imgFloatRight2 {
	float: right;
	margin: 0px 15px 15px 15px;
}
#imgFloatLeft2 {
	float: left;
	margin: 0px 15px 15px 15px;
}
#imgFloatRight3 {
	float: right;
	margin: 0px 25px 15px 15px;
}
#imgFloatRight4 {
	float: right;
	margin: 0px 15px 15px 15px;
}


/* Table rules */
.tableOne {
  font-family: "Times New Roman";
	font-size: 14px;
  background-color: #FFFFCC;
  border: 1px solid #000066;
  border-collapse: collapse;
	text-align: left;
  color: #000000;
  width: 50%;
}
#tableTwo {
  font-family: "Times New Roman";
	font-size: 14px;
  background-color: #FFFFCC;
  padding : 5px;
  border:1px solid #000066;
	text-align: left;
  color:#000000;
  width: 70%;
}
.tableOne td, .tableOne th {
  border:1px solid #000066;
  text-align: left;
  padding: 8px;
}
#cap {
	font-family: "Times New Roman";
	text-align: left;
	font-size: 14px;

}